*{
    margin: 0px;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('font/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: thin;
    src: url('font/Vazir-Thin.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: Medium;
    src: url('font/Vazir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('font/Vazir-Bold.ttf') format('truetype');
}
body{
    font-family: "Vazir" ;
}
.main{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    padding: 2px 19px;
}

header nav ul li{
    text-decoration: none;
    display: inline;
    padding: 2px 8px;
    font-size: 11px;
    font-weight: bold;
    color: #292931;
}
.contac-nav{
    direction: ltr;
    top: 0;
    left: 0;
    position: absolute;
}
header{
    background-color: #ffcb36;
}
.logo-bbi{
    width: 170px;
    height: 56px;
    margin-right: 43px;
}
.search{
    display: flex;
    align-items: center;
}
header form input{
    font-size: 16px;
    height: 35px;
    border: #2d2c31 3px solid;
    border-radius: 24px;
    padding-right: 12px;
    width: 100%;
    background-color: #ffcb36;
}
header form button{
    background-color: #292931;
    border: none;
    border-radius: 56px;
    padding: 5px 24px;
    position: relative;
    left: 34px;
}
header form {
    display: flex;
    align-items: center;
    margin-right: 64px;
}
.logo-left{
    width: 34px;
    height: 34px;
}
.logo-nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    left: 36px;
    position: absolute;
}
.logo-nav img{
    margin: 0px 7px;
}
nav{
    padding-top: 6px;
}
.nav2 ul li{
    text-decoration: none;
    display: inline;
    padding: 2px 8px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}
.nav2{
    background-color: #292931;
    color: white;
}
.nav2 ul {
    padding: 16px 34px;
}
.nav2 ul li:hover{
    color: #ffcb36;
}
.logo-nav span{
    background-color: #292931;
    color: white;
    padding: 0px 4px;
    border-radius: 26px;
    position: relative;
    bottom: 10px;
    right: 16px;
}
.logo-main{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
.logo-section1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 36px;
    margin-top: 16px;
}
.pic-main1{
    width: 400px;
    height: 400px;
}
.pic-main2{
    width: 94px;
    height: 94px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-content: center;
   
}
.section2{
    position: relative;
    top: 31px;
}
.pic-section2{
    margin-right: 21px;
}
.nav3 ul li {
    text-decoration: none;
    display: inline;
    font-size: 9px;
    color: #444;
}
.nav3-coppy ul li {
    text-decoration: none;
    display: inline;
    font-size: 9px;
    color: #444;
}
.nav3 ul {
    left: 36px;
    position: relative;
    font-size: 9px;
}
.nav3-coppy ul {
    left: 36px;
    position: relative;
    font-size: 9px;
}
.main{
    display: flex;
    flex-direction: row;
}
.section2 h1{
    margin-top: 15px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 16px;
    font-size: 18px;
}
.post-info ul li{
    list-style: none;
    margin: 8px 0px;
    font-weight: bold;
    font-size: 11px;
}
.post-info img{
    height: 80px;
    width: 80px;
}
#pic-span{
    background: #ffcb36;
    border-radius: 0 0 10px 10px;
    padding: 4px 16px;
    font-size: 13px;
}
.post-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #dfdfdf 1px;
    padding-bottom: 20px;
}
.mark-pic{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.info-more{
    font-weight: normal;
}
.info-more ul li{
    list-style: none;
    margin: 8px 0px;
}
.info-more ul {
    margin-top: 21px;
    font-size: 11px;
}
.shape{
    color: #cdcdcd;
}
.section3 ul li {
    list-style: none;
    font-weight: normal;
    padding: 1px 0px;
    font-size: 11px;
}
.section3{
    background-color: #f7f7f7;
    margin-top: 26px;
    border-radius: 18px;
    margin-right: 17px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
}
.section3 ul{
    border-bottom: solid #dfdfdf 1px;
    padding-bottom: 20px;
    padding-right: 9px;
    padding-top: 17px;
}
.price h1{
    color: #e10000;
    font-size: 28px;
    text-align: center;
}
.price{
    padding-top: 79px;
    padding-bottom: 48px;
}
#count-box{
    font-size: 11px;
    width: 42px;
    text-align: center;
    height: 29px;
    border: solid #d6d6d6 1px;
    color: #000;
}
#count-plus{
    font-size: 15px;
    width: 33px;
    text-align: center;
    height: 29px;
    border-radius: 0px 21px 21px 0px;
    border: solid #d6d6d6 1px;
    position: relative;
    right: 5px;
    color: #999;
}
#count-neg{
    font-size: 15px;
    width: 33px;
    text-align: center;
    height: 29px;
    border-radius: 21px 0px 0px 21px;
    border: solid #d6d6d6 1px;
    position: relative;
    left: 5px;
    color: #999;
}
#count-neg:hover{
    background-color: #efeded;
}
#count-plus:hover{
    background-color: #efeded;
}
.count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.count h3{
    font-size: 10px;
    margin-bottom: 0px;
}
.section3 button img{
    width: 28px;
    height: 28px;
    padding-left: 12px;
}
.section3 button{
    background-color: #ffcb36;
    border: none;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 19px;
    border-radius: 38px;
    margin-top: 30px;
    justify-content: center;
}
.more-btn img{
    width: 17px;
    height: 17px;
}
.more-btn a{
    font-size: 9px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 5px;
}
.more-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
}
#Btn-search2{
    display: none;
}
.nav3-coppy{
    display: none;
}

@media screen and (max-width: 760px) {
   header nav {
    display: none;
   }
   .search form {
    display: none;
   }
   #logo-heart{
    display: none;
   }
   #Btn-search2{
    display:initial;
    background: none;
    border: none;
    float: left;
    position: relative;
    bottom: 58px;
    margin: 0px 4px;
   }
   .logo-nav{
    left: 9px;
   }
   .nav3{
    display: none;
   }
   .nav3-coppy{
    display: contents;
   }
   #li-del{
    display: none;
   }
   .section3{
    margin-right: 0px;
   }
}
@media screen and (max-width: 993px){
    header form input {
        font-size: 12px;
        width: 66%;
    }
    header form {
        margin-right: 23px;
    }
    .section3{
        margin-right: 0px;
       }
       
       
    }
    @media screen and (max-width: 1196px){
        
           
           .pic-main1{
            width: 300px;
            height: 300px;
           }
           .pic-main2{
            width: 70px;
            height: 82px;
           }
           .pic-section2{
            margin-right: 0px;
           }
        }
